<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fundito.fundito">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        tools:ignore="LockedOrientationActivity"
        android:usesCleartextTraffic="true"
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/sample_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sample_image_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="m">

<!--        FACEBOOK-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter><action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider android:authorities="com.facebook.app.FacebookContentProvider458706525080336"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
<!--ENDFACEBOOK-->






        <activity android:name=".presentation.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
           >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<activity android:name=".presentation.login.LoginNicknameActivity"
    android:exported="true" />
        <activity android:name=".presentation.login.CardRegisterActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
           />

        <activity android:name=".presentation.login.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            />


        <activity android:name=".presentation.main.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            />
        <activity android:name=".presentation.store.StoreDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            />
        <activity android:name=".presentation.store.StoreCheerActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"

            />
        <activity android:name=".presentation.charge.ChargeActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            />
        <activity android:name=".presentation.main.feed.FeedFriendDetailActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            />
        <activity android:name=".presentation.search.SearchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            />
        <activity android:name=".presentation.noti.NotiActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            />
        <activity android:name=".presentation.funding.FundingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            />
    </application>

</manifest>