<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fundito.fundito">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/sample_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sample_image_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="m">

        <!--        FACEBOOK-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter><action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider458706525080336"
            android:exported="true" />
        <!--ENDFACEBOOK-->


        <activity
            android:name=".presentation.splash.SplashActivity"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.login.LoginNicknameActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.login.CardRegisterActivity"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.login.LoginActivity"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />


        <activity
            android:name=".presentation.main.MainActivity"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.store.StoreDetailActivity"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.store.StoreCheerActivity"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"

            />
        <activity
            android:name=".presentation.charge.ChargeActivity"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.main.feed.FeedFriendDetailActivity"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.search.SearchActivity"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.noti.NotiActivity"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.funding.FundingActivity"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.login.LoginPasswordActivity"
            android:configChanges="screenLayout|orientation|fontScale|locale|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <service
            android:name=".service.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/fundito_app_logo" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>